---
layout: default
---
 
<div class="posts">
  {% for post in site.posts limit:5 offset:0 %}
    <article class="post">
      <div class="data_title">
        <a href="{{ site.baseurl }}{{ post.url }}">{{ post.date | date: "%F" }} {{ post.title }}</a>
      </div>
      <div class="categories">
      {% for cate in post.categories %}
        <a href="{{ site.baseurl }}/archive#{{ cate }}">{{ cate }}</a>
      {% endfor %}
      </div>

      <div class="entry_border">
        <div class="entry">
          {{ post.excerpt }}<br>
          <div class="read-more"><a href="{{ site.baseurl }}{{ post.url }}" class="read-more">read more</a></div>
        </div>
      </div>
    </article>
  {% endfor %}
</div>

