

<!--
<div class="foot_main">

<div class="footer_list">
  <b>pc</b>
  <ul>
	 <li><a href="https://ideone.com/">ideone</a></li>
	 <li><a href="https://repl.it/">repl.it</a></li>
	 <li><a href="http://www.rubyist.net/~matz/">ruby</a></li>
	 <li><a href="https://code.openhub.net/">koders</a></li>
  </ul>
 </div>
 <div class="footer_list">
	<b>illust</b>
	<ul>
	 <li><a href="http://www.pixiv.net/">pixiv</a></li>
	 <li><a href="http://www.tinami.com/">tinami</a></li>
	 <li></li>
	</ul>
 </div>
	<div class="footer_list">
	<b>sns</b>
	<ul>
	 <li>twitter
	 <li>facebook
	 <li>line
	 <li>google+
	 <li>res
	</ul>
</div>
</div>

-->
<!-- page tags
  <div class="tags">
    tag [ {% for tag in page.tags %}
      {{ tag }} ,
    {% endfor %} ]
  </div>
 --> 
 
