
<div class="head_main">
<div class="main">
  <div class="title">
  <div class="logo"><a href="{{ site.baseurl }}/"><img class="logo" src="{{ site.baseurl }}/images/24614604_480x480.jpg"></a></div>
  <div class="name">{{ site.name }}</div>
  <div class="description">{{ site.description }}</div>
  </div>
  <div class="login"> 
    <ul class="left">
    <li>[ <a href="http://ir-norn.github.io/">ir-norn.github.io</a> ]</li>
    <li>[ <a href="https://github.com/">Github</a> ]</li>
    <li>[ <a href="https://gist.github.com/ir-norn">gist</a> ]</li>
    <li>[ <a href="https://github.com/ir-norn/ir-norn.github.io">Login</a> ]</li>
    </ul>
  </div>
  <div class="contents">


<!-- 
<style>
ul.bxslider img {
   xwidth:400px;
   height:300px;
}
</style>
<script>
$(document).ready(function(){
  $('.bxslider').bxSlider({
    auto: true,
    pause: 5200,
    speed: 800,
    mode: 'fade',
    pager:true,
  });
});
</script>

<div style="height:250px;border:0px;">
<ul class="bxslider">
  <li><img src="{{ site.baseurl }}/images/hedder.jpg"></li>
  <li><img src="{{ site.baseurl }}/images/illust2.jpg"></li>
  <li><img src="{{ site.baseurl }}/images/illust3.jpg"></li>
  <li><img src="{{ site.baseurl }}/images/illust4.jpg"></li>
  <li><img src="{{ site.baseurl }}/images/illust5.jpg"></li>
  <li><img src="{{ site.baseurl }}/images/illust6.jpg"></li>
</ul>
</div>

-->
    <img class="hedder" src="{{ site.baseurl }}/images/hedder0.jpg">

  </div>
</div>
</div>
