
<div class="main">
  <div class="title">
  <div class="logo"><a href="http://ir-norn.github.io/"><img class="logo" src="{{ site.baseurl }}/images/24614604_480x480.jpg"></a></div>
  <div class="name">{{ site.name }}</div>
  <div class="description">{{ site.description }}</div>
  </div>
  <div class="login"> 
    <ul class="left">
    <li>[ <a href="https://github.com/">Github</a> ] </li>
    <li>[ <a href="https://github.com/ir-norn/ir-norn.github.io">Login</a> ] </li>
    <li>[ <a href="https://gist.github.com/ir-norn">gist</a> ]</li>
    <li>[ Mail ]</li>
    </ul>
  </div>
  <div class="menu"> 
    <ul class="left_nav">
    <li>[ <a href="{{ site.baseurl }}/">home</a> ]</li>
    <li>[ <a href="{{ site.baseurl }}/category">Category</a> ]</li>
    <li>[ <a href="{{ site.baseurl }}/illust">illust</a> ]</li>
    <li>[ <a href="{{ site.baseurl }}/about">About</a> ]</li>
    </ul>
  </div>
  <div class="contents">
    <img class="hedder" src="{{ site.baseurl }}/images/hedder.jpg"></div>
  </div>
</div>

