
<div class="head_main">
  <div class="main">
    <div class="title">
    <div class="logo"><a href="{{ site.baseurl }}"><img class="logo" src="{{ site.logo }}"></a></div>
    <div class="name">{{ site.name }}</div>
    <div class="description">{{ site.description }}</div>
    </div>
    <div class="login">
      <ul class="left">
        <li>[ <a class='inline' href="#inline_content">about</a> ]</li>
        <li>[ <a href="http://ir-norn.github.io/">home</a> ]</li>
        <li>[ <a href="https://github.com/">Github</a> ]</li>
        <li>[ <a href="https://gist.github.com/ir-norn">gist</a> ]</li>
        <li>[ <a href="https://github.com/ir-norn/ir-norn.github.io">Login</a> ]</li>
      </ul>
    </div>
    <div class="site_hedder">
      <ul class="bxslider">
        <li><img class="hedder" src="{{ site.baseurl }}images/hedder0.jpg"></li>
        <li><img class="hedder" src="{{ site.baseurl }}images/hedder1.jpg"></li>
        <li><img class="hedder" src="{{ site.baseurl }}images/hedder2.jpg"></li>
        <li><img class="hedder" src="{{ site.baseurl }}images/hedder3.jpg"></li>
      </ul>
    </div>
  </div>
</div>


<div style='display:none'>
	<div id='inline_content' style='padding:10px; background:#fff;'>
<pre>/////////////////////////////////////////////////////////////////////

[Module ir-norn.github.io]

The MIT License (MIT)
Copyright (c) 2015 ir-norn

This software is released under the MIT License.
http://ir-norn.github.io/


Additional LICENSE File reference

<a href="{{site.baseurl}}AUTHORS_LICENSE">../AUTHORS_LICENSE</a>

/////////////////////////////////////////////////////////////////////</pre>
	</div>
</div>
