
<div class="side_main">
<div style="float:left">
  <div id="accordion">
   <div class="group">
     <h3>profile</h3>
     <div><img class="avatar" src="{{ site.avatar }}"><br>
         Auther : ir-norn</div>
   </div><div class="group">
     <h3>articles</h3>
     <div>
				<script type="text/javascript" language="javascript"><!--
				var count = function(num) {
				  hs = new Array();
				  return {
				    getNum: function( key ) {
				      if( !hs[key] ){ hs[key] = 0; }
				      return hs[key]++;
				    },
				    Num: function(key) { return hs[key]; }
				} };
				var counter1 = count(0);
				--></script>
				<!-- /* moon count */ -->
				{% for post in site.posts %}
				  {% capture month %}{{ post.date | date: '%Y%m' }}{% endcapture %}
				  <script>counter1.getNum({{month}})</script>
				{% endfor %}
				<ul>
				{% for post in site.posts %}
				  {% capture month %}{{ post.date | date: '%Y%m' }}{% endcapture %}
				  {% capture nmonth %}{{ post.next.date | date: '%Y%m' }}{% endcapture %}
				  {% if month != nmonth %}
				  <li style="list-style: none">
				    {% capture yuyuko %}{{ post.date | date: '%Y-%m' }}{% endcapture %}
				    <a href="{{ site.baseurl }}archive#{{ yuyuko }}">
				    {{ post.date | date: '%Y-%m' }}..(<script>document.write( counter1.Num({{month}}) );</script>)</a>
				  </li>
				  {% endif %}
				{% endfor %}
				</ul>
     </div>
   </div><div class="group">
     <h3>category</h3>
     <div>
        <ul>{% for category in site.categories %}
	         <li style="list-style: none"><a href="{{ site.baseurl }}archive#{{ category | first }}">{{ category | first }}</a></li>
	       {% endfor %}</ul>
     </div>
   </div><div class="group">
     <h3>Link</h3>
     <div>
        <div class="footer_list"><ul><li style="list-style:none;">{% include svg-icons.html %}</li></ul></div>
     </div>
   </div><div class="group">
     <h3>bookmark</h3>
     <div><ul>
       <li><a href="http://code.openhub.net/">koders</a></li>
       <li><a href="https://pixabay.com/ja/">pixabay</a></li>
       <li><a href="http://coffeescript.org/">coffee-script</a></li>
       <li><a href="http://farbecolore.com/find?q=%E3%82%A2%E3%83%AA%E3%82%B9">farbecolore</a></li>
       <li><a href="http://lova.jp/">lova</a></li>
       <li><a href="http://ragnarokonline.gungho.jp/">RO</a></li>
       <!--
       <li><a href=""></a></li>
       -->
     <ul></div>
   </div>
  </div>
</div>
</div>
