
<style>
ul.example {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
ul.example li.ex {
  float: left;
  width: 8em;
  margin-right: 5px;
  padding: 2px;
  border: 1px #ccbbdd solid;
  background-color: #444;
  color:#eee;
  text-align: center;
}
</style>

<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}script/jQuery.mmenu-master/demo/css/demo.css" />
<link type="text/css" rel="stylesheet" href="{{ site.baseurl }}script/jQuery.mmenu-master/dist/css/jquery.mmenu.all.css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}script/jQuery.mmenu-master/dist/js/jquery.mmenu.all.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('nav#menu').mmenu();
  });
</script>

<div id="page">
  <div class="header">
    <a href="#menu"></a>
    index
  </div>

  <nav id="menu">
    <ul>
      <li><a href="../top/">top</a></li>
      <li><a href="../tl/">TL</a></li>
      <li><a href="../mesaage/">メッセージ</a></li>
      <li><a href="../setting/">設定</a>
        <ul>
          <li><a href="../profile">プロフィール</a></li>
          <li><a href="../logout">ログアウト</a></li>
        </ul>
      </li>
      <li><a href="../search">検索</a></li>
      <li><a href="../upload/">upload</a>
    </ul>
  </nav>
</div>
