
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">content</a></li>
    <li><a href="#tabs-2">illust</a></li>
    <li><a href="#tabs-3">movie</a></li>
  </ul>
  <div id="tabs-1">
    {{content}}    
  </div>
  <div id="tabs-2">
    <div>illust<br>
  		<p><a class="group1" href="{{ site.baseurl }}/images/illust0.jpg" title="yyxx">Grouped Photo 1</a></p>
	  	<p><a class="group1" href="{{ site.baseurl }}/images/illust1.jpg" title="yyxx">Grouped Photo 2</a></p>
		  <p><a class="group1" href="{{ site.baseurl }}/images/illust2.jpg" title="yyxx">Grouped Photo 3</a></p>
    </div>
  </div>
  <div id="tabs-3">
    <div>movie<br>
  		<a class='youtube' href="https://www.youtube.com/embed/l_V_7K9ceKc?rel=0&amp;showinfo=0&amp;showinfo=0">Flash / Video (Iframe/Direct Link To YouTube)</a><br>
    </div>
  </div>
</div>