/**/
/*  2010 10 11  */
/**/
/* thanks hedder img pekefw_ */
/* variables */
$site_width : 1100px;
$shadow_link : #666 ;
$contents_width : 740px;
/* ------ init ------ */
body {
  background: #fdfdfd;
  font-family: verdana,sans-serif,"comic sans ms";
  color: $shadow_link;
}
a { text-decoration: none; } 
a         { color: #d997c9; }
a:link    { color: #d997c9; }
a:visited { color: #99ccea; }
a:hover   { opacity : 0.6;  }
a:active  { opacity : 0.3;  }
/* ------ header main ------ */
div.head_main {
  margin:10 auto; padding: 0 auto;
  background: #FFF;
  height: 400px;
  .main {
  height : 60px;
    display:table;
    margin: 0 auto; padding: 0 auto;
    width : $site_width;
    .title { 
      float: left;
      background: #f8faf5;
      height : 20% ;
      .logo {
        float: left;
        padding: 5px;
        img.logo { width: 60px; border-radius: 20%; }
      }
      div.name {
          padding-left: 60px;
          padding-right: 100px;
          font-size: 32px;
          font-family: AR DECODE ;
          white-space: nowrap;
      } //name
      div.description { font-size: 12px; padding-left: 60px; }
    }//title
    .login { 
      float: right;
      display:table;
      font-size: 14px;
      a { color: $shadow_link; }
      ul.left {
        display:table-cell;
        vertical-align:top;
        li {
          float: left;
          list-style:none;
        } // li
      } // ul
    } // login
  }//main
}//head

/* ------ header main ------ *//* ------ menu ------ */
div.menu { 
  clear:both;
  margin:0; padding:0;
  position:relative; top:10px; 
  height: 10%;  
  font-size: 30;
  text-align: left ;
  a         { color: #4e3338;  }
  a:hover   { opacity : 0.6;   }
  a:active  { opacity : 0.3;   }
  ul.left_nav {
    margin:0; padding:0;
    width:100%;
    height:100%;
    display:table;
    table-layout: fixed;
    li {
      margin-left:30px;
      xbackground: #dad2bc;
      background: #fefbf4;
      font-family: AR HERMANN;
      font-size: 30px;
      display:table-cell;
      vertical-align:middle;
      text-align:center;
    }// li
  }// ul
}// menu
/* Giddyup Std */
/* ------ header main ------ *//* ------ header contents ------ */
div.head_main div.main div.contents {
   position:relative; top : 20px;
   height:80%;
   img.hedder { width:$site_width; height:200px; }
}
/* ------ site contents ------ */
div.contents {
  width : $site_width ; margin: 0 auto; padding: 0 auto;
}
div.container {
  margin: 0 auto;
  width: $contents_width;
  padding-right: 10px;
  width: 100%;
}
/* ------ footer ------ */


div.foot_main { 
  margin: 0; padding:0;
  height: 400px;  
  background: #d3c9ae;  
  color: #f4e1d5;
  a { color: #4e3338; } 
  a:link    { color: #4e3338; }
  a:visited { color: #4e3338; }
  a:hover   { color: #4e3338; }
  a:active  { opacity : 0.3;  }
  li { list-style: none; }
  div.footer_list {
    float: left; 
    margin:10;
    width : 25%;
    text-align : left ;
    font-family: Consolas , fantasy ;
    color: #FFF;
    font-size:17;
  }
}
/* ------ copy rights ------ */
div.foot_main2 {
  clear : both;
  margin: 0 auto;  padding:0 auto;
  background: #eee;  
  height: 20px;
  div.copyrights {
    height: 100%;
    text-align:center;
    font-family: AR DECODE , AR HERMANN ;
    color: #555;
  }
}

/* entry */

div.entry_border {
  width :100%;
  display:table;
}
div.entry {
  height:200px;
  width:  $contents_width ;
  background-color:#eee;
  padding-left  : 10px ;
  padding-right : 10px ;
  display:table-cell;
  display:table;

  vertical-align:top;
  font-family: Consolas , fantasy ;
}

/* posts */
.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
  float:left;
}
.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}
.post {
  div.read-more {
    text-transform: uppercase;
    font-size: 14px;
    text-align:right;
    display:table-cell;
    vertical-align:bottom;
    a {
      white-space: nowrap;
      background : #555;
    }
  }
}

/*  */


div.data_title {
  float:left;
}

div.categories {
  text-align:right;
  a { color: $shadow_link; }
}

div.next {
  float:left;
  a { color: $shadow_link; }
}
div.prev {
  text-align:right;
  a { color: $shadow_link; }
}
