---
layout: default
---


<article class="post">
  <div class="data_title">
    <a href="{{ site.baseurl }}{{ page.url }}">{{ page.date | date: "%F" }} {{ page.title }}</a>
  </div>
  <div class="categories">
    {% for cate in page.categories %}
      <a href="{{ site.baseurl }}/archive#{{ cate }}">{{ cate }}</a>
    {% endfor %}
  </div>

  <div class="entry_border">
    <div class="entry">
      {{ content }}
    </div>
  </div>
  
  <div class="next">
    next:<a href="{{ page.next.url }}">{{ page.next.title }}</a>
  </div>
  <div class="prev">
    prev:<a href="{{ page.previous.url }}">{{ page.previous.title }}</a>
  </div>
  
  {% include disqus.html %}
</article>